*.js text eol=lf
*.cjs text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ino text eol=lf
*.h text eol=lf
*.bat text eol=crlf
.editorconfig text eol=lf
.nvmrc text eol=lf
.prettierrc text eol=lf
.prettierignore text eol=lf
.gitattributes text eol=lf
